* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

body {
    background-color: #141414;
    font-family: 'Roboto', sans-serif;
}

/* ----------FINE REGOLE GENERICHE-------- */
header {
    height: 70px;
    background-color: #141414;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    margin-left: 25px;
}

.logo-container > p {
    font-size: 35px ;
    color: #e50914;
}

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 25px;
}

.search-bar input {
    width: 250px;
    height: 30px;
    outline: none;
    border-radius: 5px;
    font-size: 20px;
}

.search-bar button {
    width: 80px;
    height: 30px;
    outline: none;
    border-radius: 5px;
    font-size: 20px;
    background-color: #b0873c;
    color: #fff;
    margin-left: 15px;
}
/* -----------FINE HEADER------------- */

/*----------- COMUNICAZIONI CON L'USER---------- */

.search-state {
    margin: 20px;
    font-size: 20px;
    color: #fff;
}

.search-state > h3{
    text-align: center;
    font-size: 40px;
    color: #fff;
}


/* ------CONTAINER DELLE CARDS--------- */
.movies-container {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.movie-card {
    width: 200px;
    height: 320px;
    background-color: #284478;
    margin: 20px;
    padding: 15px;
    color: #fff;
    font-size: 20px;
    text-align: center;
}

.movie-card > li {
    margin: 15px 0;
    /* overflow: hidden;
    text-overflow: ellipsis; */
}

.align-self {
    display: inline-block;
    margin: 0 5px;
}

.align-self > i {
    margin: 0 5px;
}

/* INIZIO STILIZZAZIONE BANDIERINE */

li.flags-container {
    height: 30px;
    width: 45px;
    margin: auto;
}

.flags-container > img {
    height: 100%;
    width: 100%;
}

















/**/
