* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    background-color: #141414;
    font-family: 'Roboto', sans-serif;
}

/* ----------FINE REGOLE GENERICHE-------- */
header {
    height: 70px;
    background-color: #141414;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* _______________LEFT HEADER_____________ */
.header-left {
    height: 100%;
    display: flex;
    align-items: center;
}

.logo-container {
    margin-left: 35px;
    width: 150px;
}

.logo-container > img {
    width: 100%;
}

.menu-left-header {
    margin-left: 20px;
}

.menu-left-header > ul {
    display: flex;
}

.menu-left-header > ul > li {
    margin: 0 10px;
}

.menu-left-header > ul > li > a {
    color: #d1d1d1;
}

.menu-left-header > ul > li > a:hover {
    color: #fff;
}

.menu-left-header > ul > li > a.active {
    font-weight: bold;
    color: #fff;
}

/* ___________RIGHT HEADER_______ */
.header-right {
    height: 100%;
    display: flex;
    align-items: center;
}

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 25px;
    border-radius: 5px;
    border: 2px solid #fff;
    height: 30px;
}

.search-bar input {
    width: 250px;
    height: 100%;
    outline: none;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    background-color: black;
    color: #fff;
    padding-left: 10px;
}

.icon-search-container{
    height: 100%;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

i.fa-search {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

.for-user-right-header {
    display: flex;
    align-items: center;
}

.for-user-right-header > i {
    color: #fff;
    font-size: 28px;
    margin: 0 20px;
    cursor: pointer;
}

.for-user-right-header > div {
    width: 35px;
    height: 35px;
    background-color: lightblue;
    margin: 0 50px 0 20px;
    border-radius: 4px;
    position: relative;
}

i.fa-sort-down {
    position: absolute;
    right: -20px;
    top: 5px;
    color: #fff;
    cursor: pointer;
}
/* -----------FINE HEADER------------- */

/*----------- COMUNICAZIONI CON L'USER---------- */

.search-state {
    margin: 20px;
    font-size: 20px;
    color: #fff;
}

.search-state > h3{
    text-align: center;
    font-size: 40px;
    color: #fff;
}


/* ------CONTAINER DELLE CARDS--------- */
.movies-container {
    max-width: 1500px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.back-face-card > p,
.back-face-card > div {
    margin: 15px 0;
}

ul.movie-card {
    width: 342px;
    height: 500px;
    perspective: 4000px; /*serve per fargli effetto 3D quando gira*/
    margin: 20px;
    color: #fff;
    font-size: 20px;
    border: 1px solid #e50614;
    cursor: pointer;
}

/* INIZIO PARTE PER ANIMAZIONE CARD ON HOVER */
.both-faces-container {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.movie-card:hover .both-faces-container {
  transform: rotateY(180deg);
  box-shadow: 2px 1px 29px 3px rgba(255,28,30,0.7);
  border: 2px solid #e50614;
}

.front-face-card, .back-face-card {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.back-face-card {
  background-color: #393939;
  color: white;
  transform: rotateY(180deg);
  padding: 20px;
  overflow-y: auto;
}

.first-img {
    width: 100%;
    height: 100%;
}

.first-img > img {
    width: 100%;
    height: 100%;
}

.stars-container {
    display: inline-block;
    margin: 0 5px;
}

.stars-container > i {
    margin: 0 5px;
}

.null-image {
    width: 185px;
    height: 278px;
    display: inline-block;
}

.null-image > img {
    width: 100%;
    height: 100%;
}

/*--------STILIZZAZIONE BANDIERINE ------------*/

div.flags-container {
    height: 20px;
    width: 30px;
    display: inline-block;
    margin-left: 10px;
}

.flags-container > img {
    height: 100%;
    width: 100%;
}











/**/
